# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/
android/.gradle/
android/app/build/
android/build/
android/.idea/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# macOS related
.DS_Store

# Windows related
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Android Studio specific
.gradle/
local.properties

# Xcode specific
*.xcuserstate
